html {
    background: green;
}

table {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    text-align: center;
    font-weight: 600;
}

.black {
    background: rgb(102, 67, 15);
}

.white {
    background: bisque;
}